extends ../layout/page.pug

block content
  form.input-group(action="/users" role="form" method="get")
    input.form-control(type="search" name="term" value=term placeholder="Поиск по имени")
    input.btn.btn-outline-primary(type="submit" value="Искать")

  table.table.table-striped 
    thead 
      tr 
        th Идентификатор пользователя
        th Имя пользователя
        th Email пользователя
    tbody 
      each user in users 
        tr 
          td
            a(href=route('user', { id: user.id })) #{user.id}
          td #{user.username}
          td #{user.email}
