extends ../layout/page.pug

block content 
  if error 
    div.alert.alert-danger(role="alert")
      p.mb-0.text-center #{error.message}

  form(action="/users" method="post") 
    div.mb-3
      label.form-label Имя:
        input.form-control(type="text" name="username" value=username required) 
    div.mb-3
      label.form-label Email:
        input.form-control(type="email" name="email" value=email required) 
    div.mb-3
      label.form-label Пароль:
        input.form-control(type="password" name="password" value=password required) 
    div.mb-3
      label.form-label Подтверждение пароля:
        input.form-control(type="password" name="passwordConfirm" value=passwordConfirm required) 
    input.btn.btn-primary(type="submit" value="Зарегистрировать")
